<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="appname" source="spring.application.name"/>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%clr(%d{HH:mm:ss.SSS}){blue} %clr(---){faint} %clr([%15.15t]){yellow} %clr(:){red} %clr(%m){faint}%n</pattern>
			<charset>utf-8</charset>
		</encoder>
	</appender>
	<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>localhost:5000</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"appname":"${appname}"}</customFields>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="LOGSTASH"/>
	</root>
</configuration>